@font-face {
    font-family: font;
    src: url(Kanit-Bold.ttf);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

body{
    background-color: #79eac6ff;
}

h1{
    font-size: 4.5em;
    font-weight: bold;
    font-family: font;
    position: fixed;
    top: -0.8em; 
}